# Object files
*.o
*.ko
*.obj
*.elf

# objs
*/obj

# Excs
zombie_exc
hi_this_is_brain_exc
unnecessary_violance_exc
string_replace_exc
harl_complains_exc

# static library
*.a

# vscode folder
.vscode/
